.individual-article {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.individual-article__wrapper {
  max-width: 1000px;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

.individual-article__info {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.individual-article__topic {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  text-align: left;
  margin-left: 20px;
}

.individual-article__img {
  width: 90%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  margin: 20px 0;
}

.individual-article__title {
  font-size: 2rem;
  font-weight: bold;
  color: #080808;
  margin-bottom: 10px;
  margin-left: 20px;
  text-align: start;
}

.individual-article__author {
  text-transform: uppercase;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-align: left;
}

.individual-article__details-container {
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
  margin-bottom: 15px;
  padding: 0 20px;
}

.individual-article__body {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #282828;
  padding: 0 20px;
  text-align: justify;
}

.individual-article__engaging-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
  border-top: 1px solid #e0e0e0;
  padding-top: 20px;
}

.individual-article__vote-block {
  display: flex;
  align-items: center;
  gap: 5px;
}

.individual-article__vote-icon {
  width: 20px;
  height: 20px;
}

.individual-article__vote-text {
  font-size: 1rem;
  color: #333;
}

.individual-article__comment-block {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.individual-article__comment-text {
  font-size: 1rem;
  color: #333;
  border-bottom: 2px solid #333;
  text-align: justify;
}

.individual-article__comment-text:hover {
  color: #585757;
  border-bottom: 2px solid #585757;
}
