.articles-grid {
  width: 90%;
  margin: auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 20px;
}

.article-container {
  padding: 20px;
  border: 1px solid #dedddd;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(72, 71, 71, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-image {
  width: 200px;
  height: auto;
}

.article-title {
  color: #212020;
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

.article-author {
  color: #a2a0a0;
  font-size: 16px;
}

.article-topic {
  color: #a2a0a0;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 12px;
}

.vote-comments-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.vote-block,
.comment-block {
  display: flex;
  align-items: center;
}

.vote-icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.vote-text,
.comment-text {
  font-size: 16px;
  color: #212020;
}
