.header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background: #f4f5f5;
}

.logo-anchor {
  width: 280px;
  height: 100%;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo-img {
  width: 45px;
}

.header h1 {
  font-family: "Roboto", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  color: #c40505;
  text-align: center;
}

.header__log-container {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0.8rem;
  gap: 15px;
}

.header__username-container {
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.2rem;
}

.header__username {
  font-size: 1rem;
  color: #000;
}

.logout-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.logout-Link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logout-text {
  font-size: 1rem;
  color: #000;
}

.header__logout-text:hover {
  text-decoration: underline;
}

.header__logout-img {
  width: 20px;
  margin-right: 0.5rem;
}
