.individual-article__comments-section {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  background-color: #fff;
}

.individual-article__comments-section--visible {
  max-width: fit-content;
  max-height: 2000px;
  padding: 60px;
}

.individual-article__comment {
  margin: 30px 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c2c0c0;
}

.individual-article__comments-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.individual-article__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: 0 auto 50px;
  padding: 24px;
  box-shadow: 0 4px 6px rgba(105, 105, 105, 0.1);
}

.individual-article__form-label {
  font-size: 16px;
  color: #333333;
  margin-bottom: 8px;
}

.individual-article__form-input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline: none;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.individual-article__form-input:focus {
  border-color: #f03b23;
  box-shadow: 0 0 4px #f03b23(0, 123, 255, 0.5);
}

.individual-article__form-button {
  align-self: flex-start;
  padding: 12px 24px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  background-color: #f03b23;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.individual-article__form-button:hover {
  background-color: #ca0204;
}

.individual-article__form-button:active {
  transform: scale(0.98);
}

.individual-article__comments-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.individual-article__author-text {
  font-size: 0.8rem;
  font-weight: normal;
  margin-bottom: 10px;
}

.individual-article__comment-author {
  font-weight: bold;
  text-transform: capitalize;
}

.individual-article__comment-body {
  font-size: 1rem;
}

.individual-article__no-comments {
  font-size: 1rem;
}

.article-comments__success-container {
  background-color: rgba(182, 247, 182, 0.466);
  max-width: 300px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.article-comments__success-p {
  color: rgb(51, 121, 51);
  font-size: 1rem;
  padding: 10px;
  text-align: center;
}
